# Copie este arquivo para .env e preencha os valores
SECRET_KEY=sua-chave-secreta-aqui
DEBUG=False
ALLOWED_HOSTS=vivimoda.itatecnologiaeducacional.tech,localhost

DB_NAME=vivimoda_db
DB_USER=vivimoda_user
DB_PASSWORD=senha-forte-aqui
DB_HOST=vivimoda_db
DB_PORT=5432

REDIS_URL=redis://vivimoda_redis:6379/0
CELERY_BROKER_URL=redis://vivimoda_redis:6379/0
CELERY_RESULT_BACKEND=redis://vivimoda_redis:6379/1

DJANGO_SETTINGS_MODULE=confec_system.settings.production
TIMEZONE=America/Fortaleza
SITE_NAME=VivIModa

EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend
