# Python
__pycache__/
*.py[cod]
*.pyo
.Python

# Django — arquivos locais
db.sqlite3
db_local_teste.sqlite3
media/
staticfiles/
.env
.env.*
!.env.example
logs/*.log

# Virtualenv
venv/
env/
.venv/

# IDEs
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Testes
.coverage
htmlcov/
.pytest_cache/
